<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667714878324-vjksabk41puilj833jotjr41oebqtnje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667714878324-vjksabk41puilj833jotjr41oebqtnje</string>
	<key>API_KEY</key>
	<string>AIzaSyCN3ikb37ZbM_7CsOWnWY9HmX-A6Q9v4ME</string>
	<key>GCM_SENDER_ID</key>
	<string>667714878324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zzzprint.dogwalk</string>
	<key>PROJECT_ID</key>
	<string>zzzprint</string>
	<key>STORAGE_BUCKET</key>
	<string>zzzprint.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667714878324:ios:85ac11f2ec5b555b</string>
	<key>DATABASE_URL</key>
	<string>https://zzzprint.firebaseio.com</string>
</dict>
</plist>